.venv/
__pycache__/
*.pyc
*.pyo
.idea/
*.egg-info/
.pybuild/
dist/
build/
*.deb
debian/.debhelper/
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/convert-pdf-to-markdown/
debian/convert-pdf-to-markdown.postinst.debhelper
debian/convert-pdf-to-markdown.prerm.debhelper
debian/debhelper-build-stamp
*.exe
*.spec
*.ico
apt-get